.container {
  background: #fff;
  width: 320px;
  height: 220px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border: 1px solid #dadada;
}

.emoji-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 28%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
}

.far {
  margin: 1px;
  transform: translateX(0);
  transition: transform 0.2s;
}

.rating-container {
  position: absolute;
  bottom: 20%;
  left: 20%;
  width: 200px;
  text-align: center;
}

.fa-star {
  color: #d4d4d4;
  cursor: pointer;
}

.fa-star.active {
  color: gold;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
    max-width: 90%;
  }
}
